.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    height: 40px;
    color: white;
    /* background-color: aliceblue; */
}
.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid rgb(22, 13, 13);
}
.menus{
    display: flex;
    gap: 40px;
    align-items: center;
    align-items: center;
    justify-content: center;
}
.menus .list{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
ul .list:hover{
    background-color: green;
    padding: 4px;
    padding: 5px 10px;
    transition: all;
    transition-duration: 500ms;
    border-radius: 12px;
}